.parent{
    background-color: antiquewhite;
    margin: 10px;
    border: 10px solid rgb(15,158,160);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    /* height: 400px; */

}


.child{

    border: 3px solid rgb(15,158,160);
    margin: 10px 0;
    padding: 10px;
    font-size: 25px;
    background-color: rgb(178 , 228, 229);  

}